.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.start-button{
  text-align: center;
  margin: 10px;
}

.jumbotron{
  padding-top: 40px;
  padding-bottom: 40px;
}

.panel-body{
  text-align: center;
}
